# Secretos
.env

# Artefactos generados
models/*.pkl
models/*.parquet
data/movies.csv

# Caché
.cache/
*.sqlite

# Python
__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints/

# SO / editores
.DS_Store
.idea/
.vscode/

*.pdf
